from e2e import Tester


def test_example(tester: Tester):
    # Skip tutorial
    tester.ui.button('Skip').tap()

    # Check elements in settings
    # You can use xpath to query elements with non-obvious accessibility
    tester.ui.button(xpath='//*[@label="Settings"]').tap()
    tester.ui.swipe('up')
    tester.ui.element('About the app').must_exist()
    tester.ui.swipe('down')
    # You can deal with discrepancies between iOS & Android
    # by using different values for iOS & Android
    tester.ui.button(
        ios_xpath='//XCUIElementTypeButton[@label="Close"]',
        adr_access_id='Close',
    ).tap()

    # Check search screen
    tester.ui.button('Search').tap()
    tester.ui.textfield('Search Wikipedia').input('Facebook')
    tester.ui.element('Social networking service').tap()
    tester.ui.button('Back').tap()
