from .screens.example import ExampleScreen
from .simulations.example import ExampleSimulation


class ScreensTyping:
    example: ExampleScreen


class SimulationsTyping:
    example: ExampleSimulation
