from e2e_ext.screens.example import ExampleScreen
from e2e_ext.simulations.example import ExampleSimulation


class ScreensTyping:
    example: ExampleScreen


class SimulationsTyping:
    example: ExampleSimulation
